{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <header>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <h2>Unza</h2>
                </div>
                <nav>
                    <ul>
                        <li><a class="nav-links" href="{% url 'apply' %}">Apply For Accommodation</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a class="nav-links" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a class="nav-links" href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                        <li><a class="nav-links" href="{% url 'housing' %}">Housing Services</a></li>
                        <li><a class="nav-links" href="{% url 'about' %}">About-us</a></li>
                        <li><a class="nav-links" href="{% url 'contact' %}">Contact-us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
     {% if messages %}
     {% for message in messages %}
     {{message}}
     {% endfor %}
     {% endif %}
    <main>
        <div class="container">
            <div class="showcase">
                <div class="left_side_content">
                    <h2>SEARCH HOSTELS</h2>
                    <p class="p1">
                        Our mission is to provide students with quality and affordable accommodation to every student.
                    </p>
                    <button type="button">Learn More</button>
                </div>
                <div class="right_side_content">
                    <img src="{% static 'img/Back.jpg' %}" alt="" />
                </div>
            </div>
            <div class="below_content">
                <div class="social_icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="dark_mode">
                    <i class="fa-solid fa-moon"></i>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}
