{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
       <div class="content">
          <div class="text">
             Login Form
          </div>
          <form action="" method="post">
            {% csrf_token %}
             <div class="field">
                <input  name="username"  type="text" required>
                <span class="fas fa-user"></span>
                <label>Username</label>
             </div>
             <div class="field">
                <input name="password" type="password" required>
                <span class="fas fa-lock"></span>
                <label>Password</label>
             </div>
             <button>Sign in</button>
          </form>
          <div class="forgot-pass">
            <a href="#">Forgot Password?</a>
         </div>
        
         <div class="sign-up">
            Not a member?
            <a href="./signup.html">signup now</a>
         </div>
       </div>
    

{% endblock content %}