{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student Information</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/student_style.css' %}">
    </head>
    <body>
        <div class="table">
            <div class="header">
              <div class="caption">Student Information</div>
            </div>
            
            <div class="row">
              <div class="col">Full Name:</div>
              <div class="col" id="fullName">{{student.name}}</div>
            </div>
            <div class="row">
              <div class="col">Year of Study:</div>
              <div class="col" id="yearOfStudy"></div>
            </div>
            <div class="row">
              <div class="col">Student Number:</div>
              <div class="col" id="studentNumber">{{student.id_num}}</div>
            </div>
            <div class="row">
              <div class="col">Program:</div>
              <div class="col" id="program"></div>
            </div>
            <div class="row">
              <div class="col">School:</div>
              <div class="col" id="school"></div>
            </div>
            <div class="row">
              <div class="col">Age:</div>
              <div class="col" id="age"></div>
            </div>
            <div class="row">
              <div class="col">Gender:</div>
              <div class="col" id="gender"></div>
            </div>
            <div class="row">
              <div class="col">Mobile:</div>
              <div class="col" id="mobile"></div>
            </div>
            <div class="row">
              <div class="col">Email:</div>
              <div class="col" id="email"></div>
            </div>
          </div>
        <a href="{% url 'apply-accommodation' student.id_num %}">Apply</a>  
        <script src="{% static 'js/student.js' %}"></script>
    </body>
</html>